apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-zhuc
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/pmacik-testing/tkrw-pr712-0075-0015-tenant/tkrw-pr712-0075-0015-app/devfile-sample-zhuc@sha256:28b769a8026773cad35b1a11da931e8db0eb81237ad1a3bd7bfa72513c3ed644
        name: my-nodejs
        resources: {}
status: {}
